<% layout('layouts/boilerplate') %>
<form action="/questions" method="POST">
    <div>
        <label for="title">Title: </label>
        <input type="text" id="title" name="question[title]">
    </div>
    <div>
        <label for="content">Content: </label>
        <input type="text" id="content" name="question[content]">
    </div>
    <button>Ask Question</button>
</form>
<a href="/questions">All Questions</a>