<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Question</title>
</head>
<body>
    <h1>Edit Question</h1>
    <form action="/questions/<%= question._id %>?_method=PUT" method="POST">
        <div>
            <label for="title">Title: </label>
            <input type="text" id="title" name="question[title]" value="<%= question.title %>">
        </div>
        <div>
            <label for="content">Content: </label>
            <input type="text" id="content" name="question[content]" value="<%= question.content %>">
        </div>
        <button>Save Question</button>
    </form>
    <a href="/questions/<%= question._id%>">Back to Question</a>
</body>
</html>