<% layout('layouts/boilerplate') %>
<h1>All Questions</h1>
<div>
    <a href="/questions/ask">Ask a new question</a>
</div>
<ul>
    <% for (let question of questions) { %>
        <li><a href="/questions/<%= question.id %>"><%= question.title %></a></li>
    <% } %>
</ul>