<% layout('layouts/boilerplate') %>
<h1><%= question.title %></h1>
<p><%= question.content %></p>
<p>
    <a href="/questions/<%= question._id %>/edit">Edit</a>
    <form action="/questions/<%= question._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
</p>

<footer>
    <a href="/questions">All Questions</a>
</footer>